






    <div>
        <p>Ditt konto är inaktiverat</p>
        <p>Tryck här för att aktivera ditt konto igen</p>

        <input type="button" value="Aktivera ditt konto igen" onclick="location.href='@Url.Action("AktiveraAnvändare", "Användare")'" />

    </div>

